src/Ecoporto.CRM.Site/Web References/WsIntegraChronos/IntegraChronos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExportarTabelas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="oportunidadeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportarTabelasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExportarTabelasResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Response">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Sucesso" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Lista" type="tns:ArrayOfTabela" />
          <s:element minOccurs="1" maxOccurs="1" name="TabelaId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ArquivoId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Hash" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeArquivo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TamanhoArquivo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Base64" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SimuladorId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTabela">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tabela" nillable="true" type="tns:Tabela" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tabela">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SimuladorId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TabelaId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Importador" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Despachante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NVOCC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Coloader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoColoader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CoColoader2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Proposta" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataInicio" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="DataFinalValidade" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="CancelarTabela">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="oportunidadeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="usuarioId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelarTabelaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelarTabelaResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntregrarFichasChronos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="oportunidadeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="fichaId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntregrarFichasChronosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IntregrarFichasChronosResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntregrarAdendosChronos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="oportunidadeId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="adendoId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IntregrarAdendosChronosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IntregrarAdendosChronosResult" type="tns:Response" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExportarTabelasSoapIn">
    <wsdl:part name="parameters" element="tns:ExportarTabelas" />
  </wsdl:message>
  <wsdl:message name="ExportarTabelasSoapOut">
    <wsdl:part name="parameters" element="tns:ExportarTabelasResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarTabelaSoapIn">
    <wsdl:part name="parameters" element="tns:CancelarTabela" />
  </wsdl:message>
  <wsdl:message name="CancelarTabelaSoapOut">
    <wsdl:part name="parameters" element="tns:CancelarTabelaResponse" />
  </wsdl:message>
  <wsdl:message name="IntregrarFichasChronosSoapIn">
    <wsdl:part name="parameters" element="tns:IntregrarFichasChronos" />
  </wsdl:message>
  <wsdl:message name="IntregrarFichasChronosSoapOut">
    <wsdl:part name="parameters" element="tns:IntregrarFichasChronosResponse" />
  </wsdl:message>
  <wsdl:message name="IntregrarAdendosChronosSoapIn">
    <wsdl:part name="parameters" element="tns:IntregrarAdendosChronos" />
  </wsdl:message>
  <wsdl:message name="IntregrarAdendosChronosSoapOut">
    <wsdl:part name="parameters" element="tns:IntregrarAdendosChronosResponse" />
  </wsdl:message>
  <wsdl:portType name="IntegraChronosSoap">
    <wsdl:operation name="ExportarTabelas">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Exportar Serviços e criar a Tabela de Cobranças a partir de uma Oportunidade</wsdl:documentation>
      <wsdl:input message="tns:ExportarTabelasSoapIn" />
      <wsdl:output message="tns:ExportarTabelasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelarTabela">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Exportar Serviços e criar a Tabela de Cobranças a partir de uma Oportunidade</wsdl:documentation>
      <wsdl:input message="tns:CancelarTabelaSoapIn" />
      <wsdl:output message="tns:CancelarTabelaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IntregrarFichasChronos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Integrações com o Sistema Chronos</wsdl:documentation>
      <wsdl:input message="tns:IntregrarFichasChronosSoapIn" />
      <wsdl:output message="tns:IntregrarFichasChronosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IntregrarAdendosChronos">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Integrações com o Sistema Chronos</wsdl:documentation>
      <wsdl:input message="tns:IntregrarAdendosChronosSoapIn" />
      <wsdl:output message="tns:IntregrarAdendosChronosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegraChronosSoap" type="tns:IntegraChronosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExportarTabelas">
      <soap:operation soapAction="http://tempuri.org/ExportarTabelas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarTabela">
      <soap:operation soapAction="http://tempuri.org/CancelarTabela" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntregrarFichasChronos">
      <soap:operation soapAction="http://tempuri.org/IntregrarFichasChronos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntregrarAdendosChronos">
      <soap:operation soapAction="http://tempuri.org/IntregrarAdendosChronos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegraChronosSoap12" type="tns:IntegraChronosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExportarTabelas">
      <soap12:operation soapAction="http://tempuri.org/ExportarTabelas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarTabela">
      <soap12:operation soapAction="http://tempuri.org/CancelarTabela" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntregrarFichasChronos">
      <soap12:operation soapAction="http://tempuri.org/IntregrarFichasChronos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IntregrarAdendosChronos">
      <soap12:operation soapAction="http://tempuri.org/IntregrarAdendosChronos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegraChronos">
    <wsdl:port name="IntegraChronosSoap" binding="tns:IntegraChronosSoap">
      <soap:address location="http://localhost:2897/IntegraChronos.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegraChronosSoap12" binding="tns:IntegraChronosSoap12">
      <soap12:address location="http://localhost:2897/IntegraChronos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>