src/Ecoporto.CRM.Site/Web References/WsSPC/ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultarSPC">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tipoPessoaDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuarioLogado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarSPCResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarSPCResult" type="tns:ConsultaSpcResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultaSpcResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="StatusAnaliseDeCredito" type="tns:StatusAnaliseDeCreditoResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="ContaId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Restricao" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CondicaoPagamento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LimiteCredito" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoPessoa" type="tns:TipoPessoaResponse" />
          <s:element minOccurs="1" maxOccurs="1" name="DataConsulta" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Validade" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Protocolo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalDividaSpc" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalDividaEcoporto" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="InadimplenteSpc" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="InadimplenteEcoporto" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LimiteNegociado" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PrazoSolicitado" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditoAprovado" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="RazaoSocial" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fundacao" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nacionalidade" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataNascimento" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CNPJ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CPF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Atividade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Situacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Logradouro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Bairro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CEP" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProtestoQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ProtestoData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ProtestoValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AcaoQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AcaoData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AcaoValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PendenciaFinancQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PendenciaFinancData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="PendenciaFinancValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ParticipFalenciaQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ParticipFalenciaData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ParticipFalenciaValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SpcQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SpcData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SpcValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeSFQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeSFData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeSFValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeSFCCFQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeSFCCFData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeSFCCFValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeLojistaQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeLojistaData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeLojistaValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeCOOutrasQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeCOOutrasData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeCOOutrasValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsultaRealizadaQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsultaRealizadaData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsultaRealizadaValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="AlertaDocQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AlertaDocData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="AlertaDocValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditoConcQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditoConcData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="CreditoConcValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ContraOrdemQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ContraOrdemData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ContraOrdemValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="ContraOrdemDFQuantidade" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ContraOrdemDFData" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ContraOrdemDFValorTotal" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DetalhesSpc" type="tns:ArrayOfDetalhesSpcDTO" />
          <s:element minOccurs="0" maxOccurs="1" name="DetalhesPendenciasFinanceiras" type="tns:ArrayOfDetalhesPendenciaFinanceiraDTO" />
          <s:element minOccurs="0" maxOccurs="1" name="DetalhesChequesLojistas" type="tns:ArrayOfDetalhesChequeLojistaDTO" />
          <s:element minOccurs="0" maxOccurs="1" name="DetalhesContraOrdemDocumentoDiferente" type="tns:ArrayOfContraOrdemDocumentoDiferenteDTO" />
          <s:element minOccurs="0" maxOccurs="1" name="DetalhesConsultasRealizadas" type="tns:ArrayOfConsultaRealizadaDTO" />
          <s:element minOccurs="0" maxOccurs="1" name="DetalhesAlertasDocumentos" type="tns:ArrayOfAlertaDocumentosDTO" />
          <s:element minOccurs="0" maxOccurs="1" name="DetalhesCCF" type="tns:ArrayOfCCFDetalhesDTO" />
          <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UsuarioId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="StatusAnaliseDeCreditoResponse">
        <s:restriction base="s:string">
          <s:enumeration value="PENDENTE" />
          <s:enumeration value="EM_ANDAMENTO" />
          <s:enumeration value="EM_APROVACAO" />
          <s:enumeration value="APROVADO" />
          <s:enumeration value="REJEITADO" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="TipoPessoaResponse">
        <s:restriction base="s:string">
          <s:enumeration value="PessoaFisica" />
          <s:enumeration value="PessoaJuridica" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfDetalhesSpcDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetalhesSpcDTO" nillable="true" type="tns:DetalhesSpcDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetalhesSpcDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ConsultaId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Associado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Inclusao" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Vencimento" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Entidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrato" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDetalhesPendenciaFinanceiraDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetalhesPendenciaFinanceiraDTO" nillable="true" type="tns:DetalhesPendenciaFinanceiraDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetalhesPendenciaFinanceiraDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ConsultaId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Titulo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Avalista" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrato" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ocorrencia" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Filial" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Moeda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Natureza" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Valor" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDetalhesChequeLojistaDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DetalhesChequeLojistaDTO" nillable="true" type="tns:DetalhesChequeLojistaDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DetalhesChequeLojistaDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ConsultaId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Associado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Entidade" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Inclusao" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeEmissao" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ChequeValor" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CidadeAssociado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContraOrdemDocumentoDiferenteDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ContraOrdemDocumentoDiferenteDTO" nillable="true" type="tns:ContraOrdemDocumentoDiferenteDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ContraOrdemDocumentoDiferenteDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Inclusao" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Ocorrencia" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Origem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Informante" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descricao" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfConsultaRealizadaDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ConsultaRealizadaDTO" nillable="true" type="tns:ConsultaRealizadaDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ConsultaRealizadaDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Associado" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataConsulta" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Entidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAlertaDocumentosDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AlertaDocumentosDTO" nillable="true" type="tns:AlertaDocumentosDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AlertaDocumentosDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Inclusao" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Ocorrencia" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Entidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Motivo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipos" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCCFDetalhesDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CCFDetalhesDTO" nillable="true" type="tns:CCFDetalhesDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CCFDetalhesDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Origem" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DataUltimoCheque" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Quantidade" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Motivo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarBancoDeDados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hash" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarBancoDeDadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarBancoDeDadosResult" type="tns:ConsultaSpcResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarSPCSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarSPC" />
  </wsdl:message>
  <wsdl:message name="ConsultarSPCSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarSPCResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarBancoDeDadosSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarBancoDeDados" />
  </wsdl:message>
  <wsdl:message name="ConsultarBancoDeDadosSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarBancoDeDadosResponse" />
  </wsdl:message>
  <wsdl:portType name="WsSoap">
    <wsdl:operation name="ConsultarSPC">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta o Serviço do SPC com os dados informados</wsdl:documentation>
      <wsdl:input message="tns:ConsultarSPCSoapIn" />
      <wsdl:output message="tns:ConsultarSPCSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarBancoDeDados">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta uma consulta já feita anteriormente</wsdl:documentation>
      <wsdl:input message="tns:ConsultarBancoDeDadosSoapIn" />
      <wsdl:output message="tns:ConsultarBancoDeDadosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WsSoap" type="tns:WsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarSPC">
      <soap:operation soapAction="http://tempuri.org/ConsultarSPC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarBancoDeDados">
      <soap:operation soapAction="http://tempuri.org/ConsultarBancoDeDados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WsSoap12" type="tns:WsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarSPC">
      <soap12:operation soapAction="http://tempuri.org/ConsultarSPC" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarBancoDeDados">
      <soap12:operation soapAction="http://tempuri.org/ConsultarBancoDeDados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Ws">
    <wsdl:port name="WsSoap" binding="tns:WsSoap">
      <soap:address location="http://10.1.50.4:3567/ws.asmx" />
    </wsdl:port>
    <wsdl:port name="WsSoap12" binding="tns:WsSoap12">
      <soap12:address location="http://10.1.50.4:3567/ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>